.attribution { 
    color: hsl(179, 100%, 13%);
    font-size: 12px; text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    font-size: 14px;
}

* {
    font-family: "Lexend Deca";
    font-size: 15px;
    color: white;
}

article {
    padding: 2.5rem 2.6rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

button {
    color: black;
    background-color: hsl(0, 0%, 95%);
    border: none;
    border-radius: 20px;
    padding: 10px 24px;
}

footer {
    position: fixed;
    top: 96%;
}

h1 {
    font-family: "Big Shoulders Display";
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

img {
    margin-bottom: 2rem;
}

p {
    margin-bottom: 4rem;
    color: hsla(0, 0%, 100%, 0.75);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 45%;
}

.btn-sedans {
    color:hsl(31, 77%, 52%);
}

.btn-sedans:hover {
    border: 2px solid hsl(0, 0%, 95%);
    background-color: hsl(31, 77%, 52%);
    color: hsla(0, 0%, 100%, 0.75);
}

.btn-suvs {
    color:hsl(184, 100%, 22%);
}

.btn-suvs:hover {
    border: 2px solid hsl(0, 0%, 95%);
    background-color: hsl(184, 100%, 22%);
    color: hsla(0, 0%, 100%, 0.75);
}

.btn-luxury {
    color:hsl(179, 100%, 13%);
}

.btn-luxury:hover {
    border: 2px solid hsl(0, 0%, 95%);
    background-color: hsl(179, 100%, 13%);
    color: hsla(0, 0%, 100%, 0.75);
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 12px 0 0 12px;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 12px 12px 0;
}